@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

#root {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-family: Manrope;
  align-items: center;
  display: flex;
  height: 100vh;
}

body {
  background-color: hsl(218, 23%, 16%);
}
.card {
  width: 40%;
  margin: 0 auto;
  position: relative;
}

.card-body {
  width: 100%;
  text-align: center;
  background-color: hsl(217, 19%, 24%);
  border-radius: 15px;
  position: relative;
}
.card-title {
  color: hsl(150, 100%, 66%);
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: large;
}
.card-text {
  color: hsl(193, 38%, 86%);
  font-weight: 600;
  font-size: 28px;
  padding: 0 2rem;
}
.line svg {
  margin-bottom: 4rem;
}
.card button {
  background-color: hsl(150, 100%, 66%);
  padding: 1rem;
  border-radius: 30px;
  margin: 0;
  position: absolute;
  bottom: -30px;
  right: 50%;
  transform: translateX(50%);
}

.card button svg {
  margin: 0;
}
